@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* ============================
   ESTILOS GENERALES
   ============================ */

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Lato", sans-serif;
}

:root{
      --regular: 400;
      --bold: 600;
      --black: 900;
      --size-text: 20px;
      --size-title-1: 60px;
      --size-title-2: 47px;
      --size-title-3: 40px;
      --size-text: 20px;
      --color-blue: rgba(27, 66, 143, 1);
      --color-black: rgba(0, 0, 0, 1);
      --color-white: rgba(255, 255, 255, 1);
      --color-red: rgba(157, 33, 33, 1);
      --color-shadow: #02187E;
      --color-gradient-1: #00D1D5;
      --color-gradient-2: rgba(0, 209, 213, 0.12);
      --color-gradient-3: rgba(1, 208, 213, 0);
      --contenedor-imagenes: #1B5F99;
      --contenedor-imagenesx3: #2982FF;
      --background-contenedor-violeta: #5829BF;
      --background-btn: #83C252;
      --background-btn-hover: #cdf3b0;
      --background-btn-menu: #F39E46;
      --background-contenedor-amarillo: #EFB71E;
      --background-contenedor-footer1:#242424;
      --background-footer: #5E5E5D;
      --background-input: #ECECEC;
      --color-title-1:#9D2121;
      --semi-bold:600px;

}

body {
   margin: auto;
   max-width: 1280px;
   display: grid;
   grid-template-rows: 1fr auto; /* (altura automática, basada en el contenido). 1fr ocupa el espacio restante de la pantalla.*/
   min-height: 100vh; 
}

h3{
   font-size: var(--size-title-3);
}

h2{
   font-size: var(--size-title-2);
}

h1{
   font-size: var(--size-title-1);
}

p{
   font-size: var(--size-text);
}


/* ============================
   HEADER
   ============================ */

header{
   background: linear-gradient(180deg, var(--color-gradient-1) 0%,  var(--color-gradient-2) 88%,  var(--color-gradient-3) 100%);
   position: fixed;
   width: 1280px; 
   z-index: 1000;
}

.header-container{
   margin-inline: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 10;
}

/* ============================
   LOGO
   ============================ */
#logo-header{
   margin-left: 100px;
   width: 150px;
   height: 86px;
}

/* ============================
   MENU HAMBURGUESA
   ============================ */

#boton-menu-hamburguesa{
   margin: 20px;
   border-radius: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 34px;
   border: 0;
   background: transparent;
   cursor: pointer;
}


#boton-menu-hamburguesa > div{
   box-sizing: content-box;
   background: var(--background-btn-menu);
   height: 4px;
   width: 100%;
   border-radius: 100px;
   transition: all 0.5s;
   transform-origin: left;
   border: 4px solid var(--color-white);
   
}

.shadow{
   box-shadow: 4px 5px 0px 0px var(--color-shadow);
}

.rotar-arriba {
   transform: translateY(-5px) rotate(45deg);
}

.desaparecer {
   opacity: 0;
}

.rotar-abajo {
   transform: rotate(-45deg);
}

/* ============================
   BOTONES
   ============================ */

.boton {
   width: 200px;
   height: 60px;
   flex-shrink: 0;
   border-radius: 111px;
   border: 8px solid var(--color-white);
   background-color: var(--background-btn);
   cursor: pointer;
}

.btnAnimado {
   transition: all 0.3s ease;
}

.btnAnimado:hover {
   background-color: var(--background-btn-hover);
   transform: scale(1.03);
}

.btnAnimado h4:hover {
   color: var(--color-shadow);
}

.boton h4 {
   margin: auto;
   color: var(--color-white);
   font-size: var(--size-text);
   font-style: normal;
   font-weight: var(--black);
   line-height: 94.5%;
}

/* ============================
   SECTION-1
   ============================ */

#background-1{
   width: 100%;
   height: 959px;
}

.section-1{
   position: relative;
   width: 1279px;
   height: 959px;
   overflow: hidden;
}

.parallax {
   transition: transform 0.1s ease-out;
   position: relative;
   will-change: transform;
}

#numero-1{
   position: absolute;
   top: 507.28px;
   left: 411px;
   z-index: 2;
}

#numero-2{
   position: absolute;
   top: 406.04px;
   left: 536px;
   z-index: 1;
}

#numero-3{
   position: absolute;
   top: 338px;
   left: 692.25px;
}


#sombra-1{
   position: absolute;
   top: 742px;
   left: 474px;
}

#sombra-2{
   position: absolute;
   top: 707px;
   left: 588px;
}

#sombra-3{
   position: absolute;
   top: 677px;
   left: 704px;
}



#arbol-1{
   position: absolute;
   width: 560px;
   height: 867px;
   top: -1px;
   left: -153px;
   z-index: 2;
}

#arbol-2{
   position: absolute;
   width: 434px;
   height: 672px;
   top: 106px;
   left: 881px;
   z-index: 4;
}

#arbol-3{
   position: absolute;
   width: 278px;
   height: 430px;
   top: 278px;
   left: 1080px;
   z-index: 2;
}

#logo-principal{
   position: absolute;
   width: 560px;
   height: 320px;
   top: 55px;
   left: 360px;
   z-index: 1;
   transition: transform 0.1s ease, opacity 0.1s ease; /* Transiciones suaves */
    
}

#piedra-right-1 {
   position: absolute;
   width: 113px;
   height: 74px;
   top: 737px;
   left: 1072px;
   z-index: 6;
}

#piedra-left-1{
   position: absolute;
   width: 59px;
   height: 35px;
   top: 786px;
   left: 1041px;
   gap: 0px;
   opacity: 0px;
   z-index: 7;
}

#piedra-left-2{
   position: absolute;
   width: 66px;
   height: 56px;
   top: 737px;
   left: 1031px;
   z-index: 5;
}

#piedra-right-2{
   position: absolute;
   width: 145px;
   height: 78px;
   top: 793px;
   left: 129px;
   z-index: 3;
}

#pasto-1{
   position: absolute;
   width: 249px;
   height: 114px;
   top: 717px;
   left: 161px;
   z-index: 1;
}

#pasto-2{
   position: absolute;
   width: 155px;
   height: 102px;
   top: 821px;
   left: 197px;
   z-index: 4;
}

#pasto-3{
   position: absolute;
   width: 244px;
   height: 107px;
   top: 662px;
   left: 1080px;
   z-index: 3;
}

#pasto-4{
   position: absolute;
   width: 191px;
   height: 63px;
   top: 630px;
   left: 1028px;
   z-index: 1;
}


/* ============================
   SECTION-2
   ============================ */

.section-2{
   position: relative;
   width: 1279px;
   overflow: hidden;
   color: var(--color-blue);
}

/*------LA APP MAS DIVERTIDA-----*/
.contenedor-app-mas-divertida{
   position: relative;
   height: 1871px;
   width: 1280px;
   
   border: 2px solid red;
   clip-path: polygon(0% -100%, 100% -100%, 100% 200%, 0% 200%);
}

.titulo-app-divertida{
   position: absolute;
   font-weight: var(--regular);
   line-height: 24px;
   text-align: left;
   top: 209px;
   left: 100px;
   width: 704px;
   height: 154px;
   text-align: justify;
   z-index: 1;
}

.contenedor-titulo-app-divertida h1{ 
   color: #1B428F;
   font-weight: var(--semi-bold);
   font-size: var(--size-title-2);
   line-height: 94.5%;

}

.contenedor-p-app-divertida{
   position: absolute;
   height: 154px;
   width: 704px;
   left:100px;
   top:230px;
   line-height: normal;
}

.contenedor-p-app-divertida p{
   font-size: var(--size-text);
   color: #1B428F;
   font-weight: 400px;
}

@keyframes show {
   from {
       opacity: 0;
       scale: 25%
   }

   to {
       opacity: 1;
       scale: 100%;
   }
}
/*------LA APP MAS DIVERTIDA-----*/
.contenedor-app-mas-divertida{
   position: relative;
   height: 1871px;
   width: 1280px;
   
   border: 2px solid red;
   clip-path: polygon(0% -100%, 100% -100%, 100% 200%, 0% 200%);
}

.titulo-app-divertida{
   position: absolute;
   top: 55px;
   left: 100px;
   width: 508px;
   height: 132px;
   z-index: 1;
   font-weight: var(--bold);
   line-height: 44.41px;
   text-align: left;
}

.contenedor-titulo-app-divertida h2{ 
   font-weight: var(--semi-bold);
   line-height: 94.5%;
}

.contenedor-p-app-divertida{
   color: var(--color-blue);
   position: absolute;
   height: 154px;
   width: 704px;
   left:100px;
   top:230px;
   line-height: normal;
}

.contenedor-p-app-divertida p{
   font-size: var(--size-text);
   font-weight: 400px;
}

.contenedor-img-app-divertida{
   position: absolute;
   height: 324.35px;
   width: 576.38px;
   left:236px;
   top:370px;
}

.contenedor-cubo-app-divertida{
   position: absolute;
   width: 601.64px;
   height: 543.24px;
   left:48px;
   top:610px;
}

.contenedor-personaje5-app-divertida img{
   position: absolute;
   height: 1259px;
   width: 572px;
   left: 787px;
   top:-80px;
}

.contenedor-cards{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr; 
   gap: 10px;
   height: 515px;
   width: 1081px;
}

.contenedor-cards{
   position: absolute;
   width: 1080px;
   height: 515px;
   left: 100px;
   top:1300px;

}

.card1 img, .card2 img, .card3 img{
   height: 302.60px;
   width: 332.96px;

}

.card1 p, .card2 p, .card3 p{
   font-size: var(--size-text);
   font-weight: 400px;
   margin-top: 15px;
}



/*--------- DESCUBRE EL JUEGO------------*/
.contenedor-descubre-juego{
   position: relative;
   width: 1280px;
   height: 1157px;
   display: flex;
   justify-content: center;

}
.fondoDescubre{
   position: absolute;
   z-index: 1000;
   bottom: 0;
   transition: transform 0.1s ease-out; /* Transición suave para el efecto de movimiento */
   
}

.contenedor-titulo-descubre{
   position: absolute;
   width: 950px;
   height: 153px;
   left:165px;
   top:200px;
   display: flex;
   align-items: center;
   
}

.contenedor-titulo-descubre h1{
   font-size: 61.14px;
   line-height: 110%;
   color: #FFFFFF;
   text-align: center;
}

.btn-descarga{
   position: absolute;
   width: 540px;
   height: 66px;
   left:370px;
   top:400px;
   background-color: var(--background-btn);
   color: #FFFFFF;
   border-radius: 111px;
   font-size: 31.14px;
   line-height: 110%;
   font-weight: 400px;
   -webkit-text-stroke: 1px white; /* Trazo de 1px en blanco alrededor del texto */
   box-shadow: 0 0 0 8px #FFFFFF; 
   filter: drop-shadow(4px 5px 0 #02187E);
   cursor: pointer;
   border: none;
}

/*----MAS AMIGOS, MAS DIVERSION-----*/
.contenedor-mas-amigos{
   position: relative;
   height: 823px;
   width: 1280px;
   display: grid;
   grid-template-rows: auto 1fr;
   gap: 20px;
   padding: 20px;
   border: 2px solid red;
}
.contenedor-mas-amigos h1 {
   position: absolute;
   grid-row: 1;
   left: 100px;
   top:70px;
   font-weight: var(--semi-bold);
   line-height: 94.5%;
}

.contenedor-imagen-scroll{
   position:absolute ;
   height: 436px;
   width: 291px;
   left: 243px;
   top:250px;
}


.contenedor-img-divs{
   display: grid;
   grid-template-columns: 1fr 2fr;
}


.contenedor-divs{
   position: absolute;
   left:713px;
   top:350px;
   height: 4884px;
   width: 467px;
   bottom: 267px;
} 

.section-scroll{
   margin-bottom: 276px;
   opacity: 0;
   transform: translateY(20px);
   transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section-scroll.visible {
   opacity: 1;
   transform: translateY(0);
}


#scroll-container {
   height: 400px; /* Ajusta la altura según tus necesidades */
   overflow-y: scroll;
   scrollbar-width: none;
}

.contenedor-img-divs img {
   position: absolute;
   width: 291px;
   height: 436px;
   left:243px;
   top:250px;
   transition: opacity 0.3s ease-in-out;
}


#scroll-container::-webkit-scrollbar {
display: none; /* Chrome, Safari y Opera */
}



/*-------SECTION VIDEO--------*/
.hidden{
   display: none;
}
.section-video{
   position: relative;
   height: 1443.83px;
   width: 1280px;
   background-image: url('../img/Rectangle\ 25.png');
   display: flex;

}


.contenedor-titulo-section-video h1{
   position: absolute;
   height: 171px;
   width: 802px;
   left:100px;
   color:white;
   top:200px;

}

.contenedor-video , .contenedor-video-imagen{
   position: absolute;
   height: 452px;
   width: 804px;
   left: 98px;
   top: 550px;
  /* background-color: white;
   border: 29px solid white;*/
   border-radius: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn-play{
   position: absolute;
   border: none;
   z-index: 1000;
   background-color: transparent;
}

.btn-play iconify-icon{
   font-size: 101px;
 /*  box-shadow: inset 0 0 0 5px #FFFFFF;*/
}

.contenedor-video iframe{
   position: absolute;
   height: 402px;
   width: 754px;
   border-radius: 20px;
   
   
}


.contenedor-personaje-section {
   position: absolute;
   height: 989px;
   width: 638px;
   left: 731px;
   top:390px;
}



/*-------EFECTOS 3D----------*/
.contenedor-efectos-3d{
   height: 1078px;
   width: 1280px;
   position: relative;
   display: flex;
   flex-direction: row;
   border:2px solid red;

}
.contenedor-titulo-3d{
   position: absolute;
   height: 285px;
   width: 746px;
   left: 102px;
   top:200px;

}
.contenedor-efectos-3d h1{
   color:var(--color-title-1);
   font-weight: 600; /* Semi-bold */
   line-height: 94.5%;
   margin-bottom: 30px;

}

.contenedor-p-3d{
   width: 467px;
   height: 190px;
   line-height: 94.5%;
   left: 100px;

}

.contenedor-cubo-3d {
   height: 973px;
   width: 667px;
   position: absolute;
   left:599px;
}


/*-------GRILLA COLORES-----*/
.contenedor-grilla-colores{
   display: grid;
   grid-template-columns: repeat(5, 1fr); /* 5 columnas */
   gap: 28px 31px;
   position: relative;
   height: 729px;
   width: 1280px;
   background-image: url('../img/455.png'); 
   overflow: hidden;
}

.personaje {
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.personaje:hover {
   transform: scale(1.1); 
   box-shadow: 0 0 20px white, 0 0 40px white, 0 0 60px white; /* Resplandor  */
}


/*------SUSCRIPCION-----*/
/*del top le resto 12900*/
.contenedor-suscripcion{
   height: 1560px;
   width: 1280px;
   position: relative;
   background: linear-gradient(
         to top, 
         #E0D299 0%, 
         #ADF8FD 44%, 
         #EDFDFD 82%, 
         #FFFFFF 100%
   );
   margin: 0 auto; /* Centra dentro de la página */
   overflow: hidden;
   border: 2px solid red;
}
.contenedor-pasto{
   height: 389px;
   width: 1280px;
   position: absolute;
   bottom: 0; /* Coloca la imagen en la parte inferior del contenedor */
   
}

.titulo-suscripcion{
   position: absolute;
   left: 100px;
   top:150px;
   width: 816px;
   height: 171px;
   
}

.titulo-suscripcion h1{
   font-weight: var(--semi-bold);
   line-height: 94.5%;
}

.nube1-suscripcion, .nube2-suscripcion{
   width: 387px;
   height: 181px;
   position: absolute;
   animation: moverNubeDerecha 20s linear infinite; /* Aplica la animación a cada nube */
}

.nube1-suscripcion{
   left:-56px;/* Coordenada X */
   top: 834px; /*13434 */
   animation-duration: 30s; /* Duración específica para esta nube */
}

.nube2-suscripcion{
   left:962px;
   top:505px ;/*13175px;*/
   animation: moverNubeIzquierda 30s linear infinite;
}

.nube3-suscripcion{
   height: 124px;
   width: 265px;
   left:794px;
   top:467px; /*13132px;*/
   position: absolute;
   animation: moverNubeIzquierda 30s linear infinite;

}

.personaje1-suscripcion,.personaje2-suscripcion, .personaje3-suscripcion{
   position: absolute;
}

.personaje1-suscripcion{
   height: 997px;
   width: 561px;
   left:756px;
   top: 588px;/*13228*/
}

.personaje2-suscripcion{
   height: 480px;
   width: 480px;
   left: 65px;
   top:1030px;/*13663px; */

}

.personaje3-suscripcion{
   height: 509px;
   width: 509px;
   left:407px;
   top: 1030px; /*13634px;*/
}

.advertencias p{
   width: 578px;
   height: 95px;
   top:518px;
   left:100px;
   position: absolute;
   line-height: 94.5%;
}

.advertencias img{
   position: absolute;
   height: 145px;
   width: 231px;
   left:100px;
   top: 644px;/*13264px;*/
}

.subrayado {
   text-decoration: underline;
   text-underline-offset: 4px;
}

.contenedor-btn-suscripcion{
   width: 780px;
   height: 100px;
   position: relative;
   top: 362px;
   display: flex;
   left: 100px; 
}

.contenedor-btn-suscripcion input{
   width: 562px;
   background-color: var(--background-input);
   border-radius: 50px 0 0 50px;
   border: 9px solid #FFFFFF;
   box-shadow: 0px 5px 0px 0px #000;

}

.contenedor-btn-suscripcion input::placeholder{
   position: absolute;
   left: 5%;
   font-size: var(--size-text);
   letter-spacing: 2.2px;
   line-height: 94.5%;  
}

.contenedor-btn-suscripcion input:focus {
   outline: none; /* Elimina el borde predeterminado */
 
}


.contenedor-btn-suscripcion button{
   width: 218px;
   background-color: var(--background-btn);
   font-size: var(--size-text);
   color: #FFFFFF;
   border-radius: 0 50px 50px 0;
   letter-spacing: 2.2px;
   line-height: 94.5%;
   font-weight: 900px; /* Peso Black */
   border:9px solid #FFFFFF ;
   border-left: none;
   box-shadow: 0px 5px 0px 0px #000;
   text-shadow: 
   -1px -1px 0 white,  
   1px -1px 0 white,  
   -1px 1px 0 white,  
   1px 1px 0 white;  /* Simula el borde con sombra */

}
/* Animación para mover la nube hacia la izquierda */
@keyframes moverNubeIzquierda {
   0% {
      transform: translateX(0); /* Posición inicial */
   }
   100% {
      transform: translateX(-1520px); /* Mueve a la izquierda */
   }
}

/* Animación para mover la nube hacia la derecha */
@keyframes moverNubeDerecha {
   0% {
      transform: translateX(0); /* Posición inicial */
   }
   100% {
      transform: translateX(1520px); /* Mueve a la derecha */
   }
}



/* ============================
   FOOTER
   ============================ */

.contenedor-banner{
   position: relative;
   height: 80px;
   width: 1280px;
   background-color: var(--background-contenedor-footer1);
   display: flex;
   justify-content: center;

}

.contenedor-banner img{
   position: absolute;
   width: 1080px;
}


footer{
   background-color: var(--background-footer);
   color: white;
   max-width: 1280px;
   height: 515px;
   font-size: var(--size-text);
   display: flex; 
   flex-direction: column;  
}

footer a{
   color:#FFFFFF;
}

footer div.container-derechos-autor {
   height: 361px;
   width: 820px;  
   margin-left: 5%;
   margin-top: 3%;

}

footer div.container-derechos-autor p{
   margin-bottom: 10px;
   letter-spacing: 2.3px; /*BUSCAR FORMA QUE NO ROMPA */ 
   line-height: 94.5%;

}

footer div.container-derechos-autor div{
   margin-top: 3%;
}
footer div.container-derechos-autor div a{
   letter-spacing: 2.2px;

}
footer div img{
   height: 41px;
   width: 212px;
   margin-left: 5%;
   margin-top: 3%;
   
}
/* Asegura que Xbox y el texto anterior permanezcan en la misma línea */
.xbox-inline {
   display: inline;
}


/* ============================
   ESTILOS RESPONSIVE
   ============================ */

